@import "tailwindcss";

@theme {
  --color-orange: #FF6B00;
  --color-orange-dark: #E05E00;
  --color-orange-light: #FFF3E6;
  --color-orange-bg: #FF6B00;
  --color-dark: #1A1A2E;
  --color-dark-soft: #2D2D44;
}
